<div layout="column" layout-fill>
	<div layout="row">
		<div flex>
			<md-content>
				<md-toolbar>
					<h2 class="md-toolbar-tools">
						<span>Finanza</span>
					</h2>
				</md-toolbar>
				<section>
					<md-subheader>
						Groups
					</md-subheader>
					<md-list layout-margin layout="column">
						<md-list-item >
							<md-item-content layout="row" ng-click="go('/group/0')">
								<div class="md-tile-left">
									  <img ng-src="http://upload.wikimedia.org/wikipedia/commons/f/f8/Ellen_H._Swallow_Richards_House_Boston_MA_01.jpg" class="face" alt="Group Picture" width="48px" height="48px" style="border-radius: 1000px">
								</div>
								<div class="md-tile-content" >
									<h3>Our house</h3>
									<h4>Current Balance: <span style="color:red">$20.50</span></h4>
								</div>
							</md-item-content>
						</md-list-item>
						<md-list-item>
							<md-item-content layout="row" ng-click="go('/group/1')">
								<div class="md-tile-left">
									<img ng-src="http://upload.wikimedia.org/wikipedia/en/thumb/c/c3/Flag_of_France.svg/200px-Flag_of_France.svg.png" class="face" alt="Group Picture" width="48px" height="48px" style="border-radius: 1000px">
								</div>
								<div class="md-tile-content">
									<h3>L'&eacute;quipe Fran&ccedil;ais</h3>
									<h4>Current Balance: <span style="color:green">$12.00</span></h4>
								</div>
							</md-item-content>
						</md-list-item>
					</md-list>
	      		</section>
			</md-content>
		</div>
	</div>
</div>
