<div layout="column" layout-fill ng-controller="GroupController">
	<div layout="row">
		<div flex>
			<md-content>
				<md-toolbar>
					<h2 class="md-toolbar-tools">
						<span>Group {{groupId}}</span>
					</h2>
				</md-toolbar>
				<md-tabs md-stretch-tabs="never">
					<md-tab label="Exchange">
						<section>
							<md-subheader>Outstanding</md-subheader>
							<md-list layout-margin layout="column">
								<md-item>
									<md-item-content>
										<div class="md-tile-content">
											<h3>Pizza House <span class="expDate">(02.02.2015)</span></h3>
											<h4>You owe $2.50</h4>
										</div>			
									</md-item-content>
								</md-item>
								<md-item>
									<md-item-content>
										<div class="md-tile-content">
											<h3>DirecTV <span class="expDate">(01.29.2015)</span></h3>
											<h4>You owe $17.50</h4>
										</div>
									</md-item-content>
								</md-item>
							</md-list>
							<md-divider>
							<md-subheader>Recent</md-subheader>
							<md-list layout-margin layout="column">
								<md-item>
									<md-item-content>
										<div class="md-tile-content">
											<h3>Chinese <span class="expDate">(01.20.2015)</span></h3>
											<h4>All settled!</h4>
										</div>
									</md-item-content>
									<md-item-content>
										<div class="md-tile-content">
											<h3>DTE <span class="expDate">(01.03.2015)</span></h3>
											<h4>All settled!</h4>
										</div>
									</md-item-content>
								</md-item>
							</md-list>
							<md-button class="md-fab" aria-label="Add button" ng-href="#/group/{{groupId}}/add" style="position: absolute; right: 16px; bottom: 16px;">
								<img ng-src="/img/icons/ic_add_white_48dp.png" height="44px" width="44px"/>
							</md-button>
						</section>
					</md-tab>
					<md-tab label="Members">
						<section>
							<md-list layout-margin layout="column">
								<md-item>
									<md-item-content>
										<div class="md-tile-left">
											<img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/President_Barack_Obama.jpg/220px-President_Barack_Obama.jpg" class="face" height="48px" width="48px" alt="Barack Obama" style="border-radius: 1000px" >
										</div>
										<div class="md-tile-content">
											<h3>Barack Obama</h3>
											<h4>Owes you <span style="color: red;">$3.2 trillion</span></h4>
										</div>
									</md-item-content>
								</md-item>
								<md-item>
									<md-item-content>
										<div class="md-tile-left">
											<img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/4/4b/Michelle_Obama_2013_official_portrait.jpg/225px-Michelle_Obama_2013_official_portrait.jpg" class="face" height="48px" width="48px" alt="Barack Obama" style="border-radius: 1000px" >
										</div>
										<div class="md-tile-content">
											<h3>Michelle Obama</h3>
											<h4>All even!</h4>
										</div>
									</md-item-content>
								</md-item>
							</md-list>
						</section>
					</md-tab>
					<md-tab label="Options">
						<div class="inset">
							<md-switch>Option 1</md-switch>
							<md-switch>Option 2</md-switch>
							<md-switch>Option 3</md-switch>
							<md-switch>Option 4</md-switch>
						</div>
					</md-tab>
				</md-tabs>
			</md-content>
		</div>
	</div>
</div>
