<div layout="column" layout-fill>
	<div flex>
		<md-content>
			<md-toolbar>
				<h2 class="md-toolbar-tools">Finanza</h2>
			</md-toolbar>
			<section layout-margin>
				<form action="#/" name="loginForm">
					<md-input-container>
						<label>Username</label>
						<input type="text" placeholder="Username">
					</md-input-container>
					<md-input-container>
						<label>Password</label>
						<input type="password">
					</md-input-container>
					<div align="center">
						<md-button type="submit">Login</md-button>	
					</div>
				</form>
			</section>
			<section>
				<div align="center">
					<md-button ng-href="#/register">Sign up!</md-button>
				</div>
			</section>
		</md-content>
	</div>
</div>
